.counter {
  display: inline;
  text-align: center;
  position: absolute;
}

.button {
  font: inherit;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  border-radius: 12px;
  margin-right: 1rem;
  margin-top: 1rem;
}
