h1 {
  text-align: center;
}

h3 {
  text-align: center;
  color: rgb(174, 18, 18);
}
button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4rem;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  border-radius: 12px;
  margin: 1rem;
}

label {
  font-size: large;
}

input {
  border-radius: 5px;
  border: 1px solid #ffffff;
}

body {
  background-color: rgb(182, 157, 214);
}

button:hover,
button:active {
  background-color: #dcabe3;
  border-color: #dcabe3;
}
