.card {
  background-color: hwb(281 4% 69%);
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: white;
}
